/*Page*/
.container{
    font-family: Quicksand;
}

.h2{    
    color: #364e43;
    font-size: 46px;
    font-weight: bold;
}

h3{
    color: #364e43;
    font-size: 28px;
    font-weight: bold;
}

p{
  color: #364e43;
    font-size: 18px;
    font-weight: medium;  
}

img{
    border-radius: 30px;
}


/*Buttons*/
.buttons{
    display: flex;
    justify-content: end;
    align-items: end;
}

/*Save-button*/
.btn-save{
    background: #364e43;
    color: #ffffff;
    margin-right: 5px;
    height: 45px;
    min-width: 80px;
    width: auto;
}

.btn-save:hover{
    background: #ffffff;
    color: #364e43;
    border-color: #364e43;
}


/*Navigate button*/
.btn-navigate{
    height: 45px;
    min-width: 80px;
    width: auto;
}

.btn-navigate:hover{
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}