.content{
    font-family: Quicksand;
}

.hero {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('/home/home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 270px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.hero-logo {
    max-width: 300px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
}

.hero-bottom h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.6);
    margin-bottom: 10px;
}

.hero-bottom .lead {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-content img {
    max-width: 250px;
    margin-bottom: 2rem;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.btn-explore {
    background-color: #ffffff25; /* Aranybarna 90% opacity */
    color: #ffffff;
    border: none;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: bold;
    backdrop-filter: blur(5px); /* Üveghatás */
    transition: 0.3s;
}

.btn-explore:hover {
    color: black;
    background-color: #ffffff95;
    transform: scale(1.05);
}


.room-img{
    width: 100%;
    height: 100%;
    min-height: 450px;
    border-radius: 20px;
    object-fit: cover;
}

#rooms{
    background-color: #f9f7f2;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
}

.isAvailable{
    color: #359b6d;
    font-weight: bold;
}

.contact{
    background-color: #f9f7f2;
}
