<nav class="navbar navbar-expand-lg navbar-solid">
  <div class="container-fluid">
    
    <div class="nav-left">
        <button [matMenuTriggerFor]="langMenu" class="user-profile-btn border-0 bg-transparent">
            <mat-icon class="list-icon">language</mat-icon>
            <span class="ms-1 uppercase">{{ translate.currentLang }}</span>
        </button>

        <mat-menu #langMenu="matMenu">
            <button mat-menu-item (click)="changeLang('hu')">
                <span>Magyar (HU)</span>
            </button>
            <button mat-menu-item (click)="changeLang('en')">
                <span>English (EN)</span>
            </button>
        </mat-menu>
    </div>

    <div class="nav-center" [class.show]="isMenuOpen">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="authApi.hasRole(['admin', 'superadmin'])">
          <a class="nav-link" routerLink="rooms" routerLinkActive="active" (click)="isMenuOpen = false">{{ 'NAV.ROOMS' | translate }}</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="bookings" routerLinkActive="active" (click)="isMenuOpen = false">{{ 'NAV.BOOKINGS' | translate }}</a>
        </li>

        <li class="nav-item" *ngIf="authApi.hasRole(['admin', 'superadmin'])">
          <a class="nav-link" routerLink="users" routerLinkActive="active" (click)="isMenuOpen = false">{{ 'NAV.USERS' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="nav-right d-flex align-items-center gap-2">
      <ng-container *ngIf="authApi.currentUser$ | async as user">
        <button [matMenuTriggerFor]="userMenu" class="user-profile-btn">
          <mat-icon>account_circle</mat-icon>
          <span class="d-none d-sm-inline">{{ user.name }}</span> 
          <small class="role-badge d-none d-md-inline">{{ ('NAV.ROLES.' + user.role.toUpperCase()) | translate }}</small>
        </button>
        
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="profile()">
            <mat-icon>person</mat-icon>
            <span>{{ 'NAV.PROFILE' | translate }}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'NAV.LOGOUT' | translate }}</span>
          </button>
        </mat-menu>
      </ng-container>

      <button class="navbar-toggler-custom d-lg-none" (click)="isMenuOpen = !isMenuOpen" type="button">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>

  </div>
</nav>

<main class="admin-main-content">
  <router-outlet></router-outlet> 
</main>