<nav class="navbar" [ngClass]="{'navbar-solid': !isSpecialPage, 'navbar-transparent': isSpecialPage}">
    <div class="container-fluid">
        <div class="nav-left"></div>

        <div class="collapse navbar-collapse justify-content-center nav-center" [class.show]="!isMenuCollapsed" id="navbarNav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" 
                       [routerLinkActiveOptions]="{exact: true}" (click)="isMenuCollapsed = true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery" routerLinkActive="active" (click)="isMenuCollapsed = true">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="rooms" routerLinkActive="active" (click)="isMenuCollapsed = true">Rooms</a>
                </li>
            </ul>
        </div>

        <div class="desktop-auth nav-right">
            <ng-container *ngIf="authApi.currentUser$ | async as user; else noAuth">
                <button [matMenuTriggerFor]="userMenu" class="user-profile-btn">
                    <mat-icon>account_circle</mat-icon>
                    <span class="ms-1">{{ user.name }}</span>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="profile()">Profile</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </ng-container>
            <ng-template #noAuth>
                <button routerLink="/login" class="user-profile-btn">Login</button>
                <button routerLink="/register" class="user-profile-btn">Register</button>
            </ng-template>
        </div>

        <div class="mobile-nav-wrapper nav-right">
            <ng-container *ngIf="authApi.currentUser$ | async as user; else noAuthMobile">
                <button [matMenuTriggerFor]="userMenuMobile" class="user-profile-btn py-1 px-2">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #userMenuMobile="matMenu">
                    <button mat-menu-item (click)="profile()">Profile</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </ng-container>
            <ng-template #noAuthMobile>
                <div class="mobile-auth-group">
                    <a routerLink="/login" class="login-link-simple">Login</a>
                    <a routerLink="/register" class="login-link-simple">Register</a>
                </div>                
            </ng-template>

            <button class="navbar-toggler border-0 shadow-none p-0 ms-2" type="button" (click)="toggleMenu()">
                <i class="bi" [ngClass]="isMenuCollapsed ? 'bi-list' : 'bi-x-lg'" 
                   style="color: #c3ae80; font-size: 2.2rem;"></i>
            </button>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet> 
</main>

