<nav class="navbar navbar-expand-lg" [ngClass]="{'navbar-solid': !isSpecialPage, 'navbar-transparent': isSpecialPage}">
    <div class="container-fluid">
        <div class="nav-left"></div>
        <div class="collapse navbar-collapse justify-content-center nav-center" id="navbarNav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link"  routerLink="home"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery"
                    routerLinkActive="active">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="rooms"
                    routerLinkActive="active">Rooms</a>
                </li>
            </ul>
        </div>
        <div class="auth-buttons d-flex align-items-center nav-right">
            <ng-container *ngIf="!(authApi.currentUser$ | async)">
                <button routerLink="/login" class="user-profile-btn">Login</button>
                <button routerLink="/register" class="user-profile-btn">Register</button>
            </ng-container>

            <ng-container *ngIf="authApi.currentUser$ | async as user">
                <button [matMenuTriggerFor]="userMenu" class="user-profile-btn">
                    <mat-icon>account_circle</mat-icon>
                {{ user.name }} </button>
                
                <mat-menu #userMenu="matMenu">
                    <button class="btn btn-logout" (click)="authApi.logout()">Logout</button>
                </mat-menu>
            </ng-container>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet> 
</main>

