/* Navbar base styles */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 25px;
    font-weight: medium;
    transition: all 0.4s ease-in-out;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-solid {
    background-color: #333833;
    height: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar-solid a {
    color: #fcfbf7;
    text-shadow: none;
}

/* Layout structure */
.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

/*  Navigation links */
.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin-right: 50px;
}

a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 0 1.5rem;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

a:hover { 
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff25;
    border: #ffffff;
    border-width: 1px;
    border-radius: 12px;
    padding: 8px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.nav-link.active {
    background-color: #ffffff25 !important;
    border: #ffffff;
    border-width: 1px;
    color: #ffffff !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem !important;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Buttons & Icons (auth, profile, mat-icons) */
.list-icon {
    color: #c3ae80 !important;
}

.user-profile-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    padding: 8px 20px;
}

.user-profile-btn:hover {
    background-color: #ffffff25;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

::ng-deep .mat-mdc-menu-panel {
    background-color: #333833 !important;
    border-radius: 12px !important;
}

::ng-deep .mat-mdc-menu-item {
    color: white !important;
    font-family: 'Quicksand' !important;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.login-btn {
    color: white;
    text-decoration: none;
    background: none
}

.login-link-simple {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand';
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.register-btn {
    background: none;
    color: white;
    text-decoration: none;
}

.btn-logout {
    color: white;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
}

/* Hamburger icon */
.navbar-toggler-icon-custom {
    color: #c3ae80;
    font-size: 1.8rem;
}

.mobile-nav-wrapper {
    display: none !important;
}

.desktop-auth {
    display: flex !important;
}

/* Responsive */
@media (max-width: 1400px) {
    .desktop-auth, .nav-center {
        display: none !important;
    }

    .mobile-nav-wrapper {
        display: flex !important;
        flex: 1;
        order: 3;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }
    
    .navbar-collapse.show {
        display: flex !important;
        position: absolute;
        flex-direction: column !important;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333833;
        padding: 20px 0;
        border-bottom: 2px solid #c3ae80;
        align-items: center !important;
    }

    .nav {
        flex-direction: column !important;
        width: 100%;
    }

    .nav-item {
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        font-size: 1.4rem !important;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 15px 0 !important;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        min-height: 80px;
        height: auto !important;
    }

    .nav {
        flex-direction: column !important;
        padding: 1.5rem 0 !important;
    }

    .nav-link {
        font-size: 1.4rem !important;
        letter-spacing: 2px;
    }

    .navbar-collapse.show{
        align-items: center !important;
    }
}

@media (max-width: 375px) {
    .auth-buttons {
        display: none;
    }
}