.table-dark-green {
    background-color: #2d4037;
}

.section-title{
    font-weight: bold;
}

.table-dark-green th {
    color: #c3ae80 !important;
    border: none;
    padding: 15px 10px;
}

/*  Dropdown */
.role-dropdown {
    max-width: 150px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    font-size: 0.85rem;
}

.role-dropdown:focus {
    border-color: #c3ae80;
    box-shadow: 0 0 0 0.25rem rgba(195, 174, 128, 0.25);
}

/* Delete Button */
.btn-delete {
    background-color: #bb5127;
    color: white;
    border-radius: 8px;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.btn-delete:hover {
    background-color: #a04421;
    transform: translateY(-2px);
}


/* Icon */
.s-18 {
    font-size: 18px !important;
    width: 18px !important;
    height: 18px !important;
}

.mat-icon{
    display: inline-flex;
    align-items: center;
}

/*  User check */
.is-staff {
  background-color: rgba(45, 64, 55, 0.02) !important;
  border-left: 4px solid #c3ae80;
}

.is-staff td:first-child {
  font-weight: bold;
  color: #2d4037;
}

tr.is-me {
    border-left: 8px solid #2d4037 !important;
    background-color: rgba(195, 174, 128, 0.15) !important;
}

tr.is-me td {
    color: #2d4037 !important;
    font-weight: 800 !important;
}

.bg-dark-green.ms-1 {
    letter-spacing: 1px;
    padding: 3px 8px;
    border-radius: 4px;
}

.bg-dark-green {
    background-color: #2d4037;
    color: #c3ae80;
    border: 1px solid #c3ae80;
}


.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    backdrop-filter: blur(4px);
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    border: 1px solid #c3ae80;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #c3ae80;
    padding: 1rem 1.5rem;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark-green {
    background-color: #2d4037;
    color: #c3ae80;
    border: 1px solid #c3ae80;
    transition: all 0.3s;
}

.btn-dark-green:hover {
    background-color: #c3ae80;
    color: #2d4037;
}

.btn:disabled, .form-select:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
    opacity: 0.6;
}

.d-flex.gap-2 {
    min-height: 31px;
}